.allieRow {
    width: 90%;
    margin-bottom: 0px;
    padding-top: 30px;
}

#allieCustom.container {
    max-width: 100%;
}

#allieNav {
    background-color: #1E1212;
    width: 100%;
}

.test {
    margin: 0 auto;
}

#allieName {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#allieNavLinkList {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

#navProjectLink, #navContactLink {
    color: white;
}

.aParaHeight {
    max-height: 250px;
}

#allieAboutMe {
    /* background-image: url("images/pink_dust.png"); */
    background-color: #3F2D2A;
}

#aboutMeInfoDiv {
    background-color: #ae8160;
    padding: 20px;
}
/* #CB8F87 */

#aboutMeImage {
    max-height: 95%;
    max-width: 95%;
}

#aboutMeBox {
    margin-bottom: 0px;
    margin-right: 0px;
    padding-bottom: 50px;    
}

#alliePortfolio {
    background-color: #65504D;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.aSite {
    color: #B4413B;
}

/* #allieProj {
    margin-top: 0px;
    padding: 10px;
    padding-top: 40px;
} */

/* #allieContactDiv {
    height: 300px;
} */

#allieContact {
    background-color: #CEB1AB;
    padding-bottom: 20px;
}

.acLink {
    color: #570302;
}

nav ul {
    text-align: center;
}

h3 {
    text-align: center;
}

/* #allieCustom, nav {
    background-color: none;
} */