.allieRow {
    width: 90%;
    margin-bottom: 0px;
}

#allieCustom.container {
    max-width: 100%;
}

#allieNav {
    background-color: #a58c87;
    /* color: #1E1212; */
    width: 100%;
}

#allieLogo #allieName #allieProj {
    font-family: 'Pattaya', sans-serif;
}

#allieName {
    margin-top: 0px;
}

#allieIntroP {
    font-size: 16px;
}

body {
    color: white;
}

#allieBanner {
    padding-top: 20px;
    padding-bottom: 20px;
}

#allieAboutMe {
    background-color: #a58c87;
    padding-top: 20px;
}

#contactLinksList {
    margin-top: 70px;
}

.acLink {
    color: #CB8F87;
    font-size: 18px;
}

.acLink:hover {
    color: white;
}

.acLink:visited {
    color: rgb(138, 110, 110);
}

/* #570302 old link color
    #CB8F87 
    #3F2D2A - dark
*/

#aboutMeImage {
    max-height: 90%;
    max-width: 90%;
    border: 1px solid white;
    box-shadow: 0 0 20px 8px #fff;
}

@media only screen and (max-width: 600px) {
    #aboutMeImage {
        margin-bottom: 30px;
    }
}

#aboutMeBox {
    margin-bottom: 0px;
    padding-bottom: 50px;    
}

#alliePortfolio {
    background-color: #65504D;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: white;
}

#portfolioIntro {
    margin-bottom: 20px;
}

#allieContact {
    color: #CB8F87;
}

.aSite {
    color: #B4413B;
}

.aSite:hover {
    color: #f9a9a5;
}

.aSite:visited {
    color: #905858;
}

.iconSpacer {
    margin-right: 30px;
}

h3 {
    text-align: center;
    padding: 30px;
}

#allieBottom {
    width: 100%;
    background-color: #3F2D2A;
    height: 100%;
    color: #CB8F87;
    padding-top: 20px;
    padding-bottom: 75px;
}

#resourceBanner {
    padding-bottom: 30px;
    padding-top: 20px;
}

.titleUnderline {
    text-decoration: underline;
}

.backToTop {
    color: white;
    font-size: 16px;
}

.backToTopPad {
    padding: 20px;
    margin: 20px;
}

#backToTopPadBottom {
    margin-top: 50px;
    margin-bottom: 50px;
}